#examples {
  margin-top: 10px;
}

#btnUpdateAdapter, .btn-del-item-del, .btn-set-item-edit {
  margin-left: 10px;
}

.example-title, li {
  margin-bottom: 5px;
}

.example-content {
  margin-top: 10px;
}